.table{
   color: black;
    font-size: 50px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 70%;
    align-self: 'center';
    margin: 0 auto;
}

.rowInTable{
   
    background-color: lightblue;
    
    margin-bottom: 50px;
}